@charset "UTF-8";

//customize bootstrap theme
// $theme-colors: (
//         dark: #ff0000
// );

@import 'import';

// common
body {
  background-color: #fefefe;
  font-family: $font;
  line-height: 2;
  text-align: center;
}

.header {
  background-color: #333;
}

.main {
  padding: 0 1rem 4rem;
  @include mq() {
    padding: 0 0 5rem;
  }
  &__ttl {
    font-size: 1.5rem;
    margin: 5px 0 0;
  }
}

.footer {
  margin-top: $frame-padding;
}


.nav {
  &-sns {
    color: #333;
    font-size: 2rem;
  }
  &-link {
  }
}

.sec {
  padding: $frame-padding 0 0;
  &__ttl {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &__dl {
  }
  &__dt {
    border-bottom: 1px dashed #333;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
    padding: 0 .5rem;
  }
  &__dd {
    margin-bottom: 2rem;
  }
};

// styles
